extends layout

block content

    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    script(src='/javascripts/dashboard.js')
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
        a.navbar-brand.col-sm-3.col-md-2.mr-0(href='#') El Deeb For Contractors
        a.navbar-brand.col-sm-3.col-md-2.mr-0(href='/admin/profile') Hello Eng. #{user.name}
        ul.navbar-nav.px-3
            li.nav-item.text-nowrap
                a.nav-link(href='/admin/logout') logout
    .container-fluid
        .row
            nav.col-md-2.d-none.d-md-block.bg-light.sidebar
                .sidebar-sticky
                    include dashboard-sidebar
            main.col-md-9.ml-sm-auto.col-lg-10.px-1(role='main')
                .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                    block body