script.
    $(function () {
        $('#chooseFile').click(function () {
            $('#inputFile').click();
        });

        $('#inputFile').on('change' , function () {
            $('#progress-chat-file-container').show();
            $('#inputFileName').val($('#inputFile').val()).css('display' , 'flex');
        });
    });

.mesgs
    #msg_history.msg_history.mb-5
    .type_msg.fixed-msg-bottom.col-md-9.col-lg-10.mb-5.mt-1

        input.write_msg.form-control(style="display: none;" type='text' id="inputFileName" disabled)
        #progress-chat-file-container.progress(style="height: 10px;display:none;")
            #progress-chat-file.progress-bar.bg-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
        .input_msg_write.input-group
            .input-group-prepend
                button.btn.btn-outline-secondary(type="button" id="chooseFile") choose file
            input.write_msg.form-control(type='text' id="inputMessage" placeholder='Type a message')
            input.d-none(type='file' id='inputFile')